@using SportsBuddyApp.Models.ViewModel;

@model RankActivityViewModel

@{
    ViewData["Title"] = "Rank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="form-horizontal">

        <div class="col-sm-6">
            <h2>Rank</h2>
            <div>@ViewData["error"]</div>
            <form asp-action="RankAnActivity">
                <input type="hidden" asp-for="ActivityId" value="@Model.ActivityId" />
                <div class="form-group">
                    <label asp-for="Activity" class="control-label col-sm-2">Name</label>

                    <div class="col-sm-6" style="text-align:left">
                        @Model.Activity.ActivityName
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label col-sm-2">Rating</label>

                    <div class="col-sm-6">
                        <input asp-for="Rating" class="form-control" />

                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2"></label>

                    <div class="col-sm-6">
                        <input type="submit" style="float:left" value="Save" />
                    </div>
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </div>

    </div>

