include ../elements/_widget-list

header.page-header
  // RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar-default.rd-navbar-default-with-top-panel(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fullwidth', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout="rd-navbar-static", data-md-stick-up-offset="90px" data-lg-stick-up-offset="150px")
      .rd-navbar-top-panel.rd-navbar-collapse-items
        .rd-navbar-top-panel-inner
          //-left side
          .left-side
            // Contact Info
            .contact-info
              .group-lg
                .reveal-inline-block
                  .unit.unit-middle.unit-horizontal.unit-spacing-xs.unit-xs-top
                    .unit-left
                      span.icon.text-middle.fa-phone
                    .unit-body
                      .p
                        a.text-middle(href='callto:#') 1-800-1234-567
                .reveal-inline-block
                  .unit.unit-middle.unit-horizontal.unit-spacing-xs.unit-xs-top
                    .unit-left
                      span.icon.text-middle.fa-envelope
                    .unit-body
                      .p
                        a.text-middle(href='mailto:#') info@demolink.org
                .reveal-inline-block
                  .unit.unit-middle.unit-horizontal.unit-spacing-xs.unit-xs-top
                    .unit-left
                      span.icon.text-middle.fa-map-marker
                    .unit-body
                      .p
                        a.text-middle(href='contacts.html') 2130 Fulton Street San Diego, CA 94117-1080 USA
          //- right side
          .right-side
            +widget-list([
              {
                "icon": "fa fa-facebook",
                "href": "#"
              },
              {
                "icon": "fa fa-twitter",
                "href": "#"
              },
              {
                "icon": "fa fa-google-plus",
                "href": "#"
              },
              {
                "icon": "fa fa-instagram",
                "href": "#"
              },
              {
                "icon": "fa fa-rss",
                "href": "#"
              }
            ], 'text-white', '')


      .rd-navbar-inner
        // RD Navbar Panel
        .rd-navbar-panel
          // RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
            span

          // RD Navbar collapse toggle
          button.rd-navbar-collapse-toggle(data-rd-navbar-toggle='.rd-navbar-collapse-items')
            span

          // RD Navbar Brand
          .rd-navbar-brand
            a.brand-name(href='index.html')
              img(src="images/brand.png", width="180", height="33", alt="")

        .rd-navbar-aside-right
          .rd-navbar-nav-wrap
            .rd-navbar-nav-scroll-holder
              // RD Navbar Brand
              .rd-navbar-mobile-brand
                a.brand-name(href='index.html')
                  img(src="images/brand.png", width="180", height="33", alt="")
              include ../_navigation

          //RD Navbar Search
          .rd-navbar-search
            a.rd-navbar-search-toggle(data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-panel" href="#")
              span
            form.rd-search(action="search-results.html" data-search-live="rd-search-results-live" method="GET")
              div.form-wrap
                label.form-label(for="rd-navbar-search-form-input" class="form-label") Type and hit enter...
                input(class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off")
                #rd-search-results-live.rd-search-results-live