@model IEnumerable<RecretionalActivity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}


<div class="col-sm-8">
    <h2>Activities</h2>
    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <table class="table">
        <thead>
            <tr>
                <th>SL</th>
                <th>
                    @Html.DisplayNameFor(model => model.ActivityName)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityName)
                    </td>
                    <td>
                        <a asp-action="Rank" asp-route-activityId="@item.ActivityId" asp-route-rating="4">Rank</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>