/*
*
* Offsets
* --------------------------------------------------
*/

.offset-top-40{
  margin-top: 40px;
}

// Element offset
* + p {
  margin-top: 14px;

  @media (min-width: $screen-sm-min) {
    margin-top: 24px;
  }
}
p + p { margin-top: 12px; }


// Headings


// Headings + Paragraph


// Paragraph + Headings


// Tags + Tags
h3 + h5{
  margin-top: 20px;

  @media (min-width: $screen-lg-min) {
    margin-top: 35px;
  }
}


svg + h2,
img + h2{
  margin-top: 20px;

  @media (min-width: $screen-md-min) {
    margin-top: 55px;
  }
}

h2 + p{
  margin-top: 24px;

  @media (min-width: $screen-md-min) {
    margin-top: 42px;
  }
}


// Tags + Classes
p + .button{
  margin-top: 20px;

  @media (min-width: $screen-md-min) {
    margin-top: 40px;
  }
}

// Classes
* + .rd-mailform { }
.page * + .range{
  margin-top: 45px;

  @media (min-width: $screen-sm-min) {
    margin-top: 60px;
  }

  @media (min-width: $screen-lg-min) {
    margin-top: 80px;
  }
}

// Classes + Tags
.icon-circle.icon-lg + h5{
  margin-top: 18px;

  @media (min-width: $screen-sm-min) {
    margin-top: 28px;
  }
}


// Classes + Classes
.shell + .shell { margin-top: 60px; }
.range + .range { margin-top: 60px; }


// Media offsets

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}


html .page {
  .offset-top-0{
    margin-top: 0;
  }

  .offset-top-24{
    margin-top: 24px;
  }

  .offset-top-60{
    margin-top: 60px;
  }

  // Range spacing
  .range-60 {
    @include responsive-offset(60px);
  }

  .range-15 {
    @include responsive-offset(15px);
  }

  @media (min-width: $screen-md-min) {
    .range-md-90 {
      @include responsive-offset(90px);
    }
  }



  @media (min-width: $screen-lg-min) {
    .range-lg-80{
      @include responsive-offset(80px);
    }

    .range-lg-60 {
      @include responsive-offset(60px);
    }
  }

  .range-50 {
    @include responsive-offset(50px);
  }

  @media (min-width: $screen-md-min) {
    .range-md-30 {
      @include responsive-offset-media(30px);
    }
  }
}